.center1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2196F3;
    min-height: 100vh;
}

.card1{
    width: 500px;
    height: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background-color:white;
}

.letter1{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    
}

.para{
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
    margin: 5px;
    color: #616161;

}
.imglink{
    display: flex;
    justify-content: center;
    align-self: center;
   
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
}

.bluebutton {
    background-color: #00d2d9;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    
    transition-duration: 0.4s;
    border-radius: 5px;

  }
.bluebutton:hover{
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        text-decoration: none;
}  
  